<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" data-mntyjs="'loggingEnabled':true, 'loadFrom':'plugins'"
            src="https://rawgit.com/bitExpert/mntyjs/master/dist/mnty.js"></script>
    <script type="text/javascript" src="config.js"></script>
</head>
<body>

<h2>Template example</h2>

<p>Examples using <a href="http://olado.github.io/doT/index.html">doT.js</a></p>

<div data-mount="Person" data-person="'name':'Max','street':'Auburn street'"></div>
<div data-mount="Person" data-person="'name':'Bob','street':'Brook street','hobbies':['books','computers','football']"></div>
<div data-mount="Person" data-person="'name':'Joe','street':'Byway street '"></div>

</body>
</html>
